<div class = "background">
<app-layout>
    <div class="jumbotron">
        <h1>Popcorn Pass</h1>
        <ng-container>
                <div class="container">
                    <!-- Content here -->
                    <ul class="nav nav-pills">
                        <li class="nav-item dropdown">
                            <a class="nav-link active dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Sort by</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Now Playing</a>
    
                                <a class="dropdown-item" href="#">Top Rated</a>
                                <a class="dropdown-item" href="#">Popular</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Upcoming</a>
                            </div>
                        </li>
                    </ul>
                </div>
            <br />
            
            </ng-container>
        <div class = sortBy></div>
        <div class="wrapper">
            <ng-container *ngFor="let results of restItems['results']; let i = index">
                <div class="box">
                    <img src="http://image.tmdb.org/t/p/w185/{{results.poster_path}}" />
                    <p>{{results.original_title}}</p>
                </div>
            </ng-container>
        </div>

        <br />
        <div class="pagination">
            <a (click) = "decrementPageNumber()" href="#">&laquo;</a>
            <a href="#" class="active">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">6</a>
            <a (click) = "incrementPageNumber()" href="#">&raquo;</a>
        </div>
    </div>

</app-layout>
</div>